<!DOCTYPE html>
<html lang="en" style="background-color: #3e3e3e">
    <head>
        <meta charset="UTF-8" />
        <title>Member Count Chart</title>
        <meta name="theme-color" content="#67727a">
        <meta property="og:title" content="Member Traffic Chart">
        <meta property="og:description" content="A traffic chart generator for discord servers.">
        <meta property="og:image" content="https://cdn.discordapp.com/attachments/423551934784339968/765250193348100127/unknown.png">
        <script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
        <script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
        <script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/dark.js"></script>
        <script src="script.js"></script>
    </head>
    <body onload="onLoad()">
        <div id="chart" style="width: 100%; height: 1000px; background-color: #282828"></div>
    </body>
</html>
