<!doctype html>
<html lang="en">
    <head>
        <title>Minecraft Soundboard</title>
        <meta name="theme-color" content="#ff7a21">
        <meta property="og:title" content="Minecraft Soundboard">
        <meta property="og:description" content="A minecraft soundboard. Made with ❤ using the MagicSpells plugin.">
        <meta property="og:image" content="https://cdn.discordapp.com/attachments/423551934784339968/665490786468626452/dzIqb-FsjNxRvlhODVh1fPZMnqX7jWK0sx8S3j2vGn72C-lUYYgL4XVe_CGJiwfe4mgw300.png">
        <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="script.js"></script>
    </head>
    <body onload="onLoad()">
        <div id="nav">
            <a id="nav_title" href="https://mhaprodigy.uk/soundboard" target="_blank">Minecraft Soundboard</a>
            <a class="nav_button" href="https://dev.bukkit.org/projects/effectlib/" target="_blank">EffectLib Plugin</a>
            <a class="nav_button" href="https://github.com/TheComputerGeek2/MagicSpells" target="_blank">MagicSpells Repository</a>
            <a class="nav_button" href="https://github.com/JasperLorelai/minecraft-soundboard" target="_blank">Project Repository</a>
        </div>
        <div id="doc">
            <h1>How To set up:</h1>
            This configuration file requires the plugin MagicSpells to run. Note that the <span class="code">1.0.0</span> version of the Soundboard only includes sounds up to <span class="code">1.12.2</span>. That Minecraft version is only supported by MagicSpells versions below <span class="code">4.0</span>, which require EffectLib as well. The <span class="code">1.0.0</span> version works on Minecraft versions <span class="code">1.8.x-1.12.2</span>, but you obviously can't play <span class="code">1.12.x</span> sounds on versions below. Soundboard versions above <span class="code">1.0.0</span> support MagicSpells <span class="code">4.0+.</span><br><br>
            Download the configuration file below and place the file in your MagicSpells plugin folder, then reload the plugin. To open use one of following commands: <span class="code cmd">/soundboard</span>, <span class="code cmd">/sounds</span> or <span class="code cmd">/sb</span>.<br><br>
            In the GUI you can search for sounds to check their sound names or select it to play it. You can modify pitch and volume and try what it sounds like with your configuration. Once you think the sound is good enough you can click the paper item to paste the current sound configuration in chat where you can copy it and paste it in your scripting plugin, or anywhere you need to use it.
            <h1>Downloads:</h1>
            <ul id="download_list">
                Loading downloads...
            </ul>
        </div>
    </body>
</html>
