body {
    margin: 0;
    background: hsl(0, 0%, 10%);
}

.code {
    font-family: "Spectral", cursive, sans-serif;
    color: hsl(0, 0%, 54%);
    border: 1px solid;
    border-radius: 10px;
    padding: 0 .5% 0 .5%;
}

.code.cmd {
    color: hsl(208, 100%, 57%);
    border-color: hsl(215, 100%, 50%);
}
.code.cmd:hover {cursor: grab}

.tooltip {
    visibility: hidden;
    background-color: black;
    color: white;
    padding: .75%;;
    border-radius: 25px;
    position: absolute;
    z-index: 1;
    font-family: "Spectral", cursive, sans-serif;
    font-size: 90%;
}
.cmd:hover .tooltip {visibility: visible}
.cmd .tooltip:hover {visibility: hidden}

#nav_title {
    display: inline-block;
    text-decoration: none;
    padding: .5% .75% .5% .75%;
    font-size: 125%;
    background: hsl(230, 100%, 50%);
    color: white;
    position: relative;
    border: 4px solid hsl(224, 100%, 60%);
    border-radius: 30px;
    transition: .5s;
    font-family: "Spectral", cursive, sans-serif;
}
#nav_title:hover {
    background: hsl(224, 100%, 55%);
}

.nav_button {
    float: right;
    padding: 1%;
    margin: 0 .5%;
    text-decoration: none;
    color: white;
    transition: .5s;
    font-family: "Spectral", cursive, sans-serif;
    border-radius: 10px;
}
.nav_button:hover {background: hsl(0, 0%, 20%)}

#nav {
    background: hsl(0, 0%, 30%);
    padding: .5% 5% .5% 10%;
    border-bottom: 5px solid hsl(0, 0%, 59%);
}

#doc {
    color: white;
    font-size: 110%;
    padding: 4% 8%;
    font-family: "Spectral", cursive, sans-serif;
}

h1 {
    text-decoration: underline;
    font-family: "Spectral", cursive, sans-serif;
}

#download_list {list-style: none}

.download_release {
    margin: .5% 0;
}

.download_tag {
    border: 1px solid hsl(215, 100%, 50%);
    color: hsl(208, 100%, 57%);
    border-radius: 10px;
    padding: 0 .5% 0 .5%;
    font-family: "Spectral", cursive, sans-serif;
}

.download_name {
    color: hsl(203, 100%, 57%);
    text-decoration: none;
    font-family: "Spectral", cursive, sans-serif;
}

.download_name:hover {text-decoration: underline}
.download_name:hover .tooltip {visibility: visible}
.download_name .tooltip:hover {visibility: hidden}

.download_description_button {
    background: hsl(0, 0%, 13%);
    border-radius: 10px;
    margin-left: 1%;
    transition: .5s;
    padding: .4%;
    font-family: "Spectral", cursive, sans-serif;
}
.download_description_button_active, .download_description_button:hover {
    background: hsl(0, 0%, 19%);
    cursor: grab;
}

.download_description_inside {
    background: hsl(0, 0%, 7.5%);
    margin-top: .5%;
    border-radius: 25px;
    color: #94b5ff;
    font-family: "Comic Sans MS", cursive, sans-serif;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    padding: 0 2.25%;
}
