<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Discord</title>
        <meta name="theme-color" content="#8da0fb">
        <meta property="og:site_name" content="Discord">
        <meta property="og:title" content="My Hero Academia Prodigy - Discord">
        <meta property="og:description" content="The official discord server for the My Hero Academia Prodogy Minecraft server.">
        <meta property="og:image" content="https://cdn.discordapp.com/attachments/423551934784339968/642708173006045194/bg5_cropped.png">
        <script>window.location.href="https://discord.gg/vm8wepS"</script>
    </head>
</html>
