<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Staff Applications</title>
        <meta name="theme-color" content="#7047bf">
        <meta property="og:site_name" content="Staff Applications">
        <meta property="og:title" content="My Hero Academia Prodigy - Staff Applications">
        <meta property="og:description" content="Google Forms for applying for staff on My Hero Academia Prodigy.">
        <meta property="og:image" content="https://cdn.discordapp.com/attachments/423551934784339968/642708173006045194/bg5_cropped.png">
        <script>window.location.href="https://discord.com/api/oauth2/authorize?client_id=579759958556672011&redirect_uri=https%3A%2F%2Fmhaprodigy.uk%2Fapply&response_type=code&scope=identify"</script>
    </head>
</html>
