<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Support Ticket</title>
        <meta name="theme-color" content="#00e808">
        <meta property="og:site_name" content="Support Ticket">
        <meta property="og:title" content="My Hero Academia Prodigy - Support Ticket">
        <meta property="og:description" content="Found a bug on My Hero Academia Prodigy or you have a support question you'd like to ask? Use this Google Form.">
        <meta property="og:image" content="https://cdn.discord.com/attachments/423551934784339968/642708173006045194/bg5_cropped.png">
        <script>window.location.href="https://discord.com/api/oauth2/authorize?client_id=579759958556672011&redirect_uri=https%3A%2F%2Fmhaprodigy.uk%2Fsupport&response_type=code&scope=identify"</script>
    </head>
</html>
