<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Trello</title>
        <meta name="theme-color" content="#0a95f2">
        <meta property="og:site_name" content="Changelog Generator">
        <meta property="og:title" content="My Hero Academia Prodigy - Changelog Generator">
        <meta property="og:description" content="An Admin tool that helps generate embed changelogs for the respective channel.">
        <meta property="og:image" content="https://cdn.discordapp.com/attachments/423551934784339968/642708173006045194/bg5_cropped.png">
        <script>window.location.href="https://docs.google.com/forms/d/e/1FAIpQLSd7iaJ8oUhMkxZhrGed3wN5cnEtlAX11me2GslioULhiPFZBg/viewform"</script>
    </head>
</html>
