<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Suggestions</title>
        <meta name="theme-color" content="#00ba1c">
        <meta property="og:site_name" content="Suggestions">
        <meta property="og:title" content="My Hero Academia Prodigy - Suggestions">
        <meta property="og:description" content="Have a suggestion for My Hero Academia Prodigy? Suggest it in this Google Form.">
        <meta property="og:image" content="https://cdn.discordapp.com/attachments/423551934784339968/642708173006045194/bg5_cropped.png">
        <script>window.location.href="https://discord.com/api/oauth2/authorize?client_id=579759958556672011&redirect_uri=https%3A%2F%2Fmhaprodigy.uk%2Fsuggest&response_type=code&scope=identify"</script>
    </head>
</html>
