<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Trello</title>
        <meta name="theme-color" content="#0079bf">
        <meta property="og:site_name" content="Trello">
        <meta property="og:title" content="My Hero Academia Prodigy - Trello">
        <meta property="og:description" content="The official Trello Board for the My Hero Academia Prodogy Minecraft server.">
        <meta property="og:image" content="https://cdn.discordapp.com/attachments/423551934784339968/642708173006045194/bg5_cropped.png">
        <script>window.location.href="https://trello.com/b/YBbW2ZTP"</script>
    </head>
</html>
