<!doctype html>
<html lang="en">
    <head>
        <title>Discord Linking</title>
        <style>
            html {
                height: 100%;
                overflow: hidden;
            }
            body {
                height: 100%;
                background: hsl(0, 0%, 10%);
                text-align: center;
            }
            #text {
                position: relative;
                top: 40%;
                color: hsl(15, 100%, 50%);
                font-size: 350%;
            }
        </style>
    </head>
    <body>
        <div id="text">Your account was already linked.</div>
    </body>
</html>